<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.india-ts.momentum_scanner</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/maverick/PycharmProjects/India-TS/Daily/scanners/momentum_scanner_standalone.py</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/maverick/PycharmProjects/India-TS</string>
    
    <key>StandardOutPath</key>
    <string>/Users/maverick/PycharmProjects/India-TS/Daily/logs/momentum_scanner/momentum_scanner_stdout.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/maverick/PycharmProjects/India-TS/Daily/logs/momentum_scanner/momentum_scanner_stderr.log</string>
    
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>16</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <string>PATH</string>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <string>PYTHONPATH</string>
        <string>/Users/maverick/PycharmProjects/India-TS</string>
    </dict>
</dict>
</plist>