<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>KeepAlive</key>
	<false/>
	<key>Label</key>
	<string>com.india-ts.job_manager_dashboard</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/maverick/PycharmProjects/India-TS/Daily/Health/job_manager_dashboard.py</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/maverick/PycharmProjects/India-TS/Daily/logs/job_manager_dashboard_error.log</string>
	<key>StandardOutPath</key>
	<string>/Users/maverick/PycharmProjects/India-TS/Daily/logs/job_manager_dashboard.log</string>
	<key>WorkingDirectory</key>
	<string>/Users/maverick/PycharmProjects/India-TS/Daily/Health</string>
</dict>
</plist>