<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.india-ts.tg-eod-flatten</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Library/Frameworks/Python.framework/Versions/3.11/bin/python3</string>
        <string>-m</string>
        <string>TG.eod_flatten</string>
        <string>--symbol</string>
        <string>TATSILV</string>
        <string>--pair-symbol</string>
        <string>SPCENET</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/maverick/PycharmProjects/India-TS</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>15</integer>
        <key>Minute</key>
        <integer>12</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/maverick/PycharmProjects/India-TS/TG/logs/eod_flatten_stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/maverick/PycharmProjects/India-TS/TG/logs/eod_flatten_stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Library/Frameworks/Python.framework/Versions/3.11/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>PYTHONPATH</key>
        <string>/Users/maverick/PycharmProjects/India-TS</string>
    </dict>
</dict>
</plist>
